

<h1>Create Your Trip!</h1>

<!-- <div>
<form class="activities" method='get' action='/activities'>
  <input type="text" placeholder="what you wanna do" id="activity">
  <input type="text" placeholder="destination" id="destination">
  <button type="submit">Search
</form>
</div> -->
<!-- <div> -->
<!-- <form method="post" action="/activities">
  <input type="text" placeholder="Trip Name" name="trip_name">
  <input type="text" placeholder="password" name="password">
  <button type="submit">save
</form>
</div> -->

<div class="new_trip">
  <input type="text" placeholder="Your Name" id="user_name">
  <input type="text" placeholder="Trip Name" id="trip_name">
  <button id="create_trip" class="button">create</button>
</div>


<div id="trip_info">
  <p style="display: none" id="current_user" >foo</p>
  <p style="display: none" id="current_trip_name">cat</p>
  <p style="display: none" id="current_trip_id">12345</p>
</div>



<!-- remove these br tags -->
<br>
<div class="city-button">
  <label for="gmap_where">Where:</label>
  <input id="gmap_where" type="text" name="gmap_where" />
<button id="button2" class="button" >Search</button>
</div>
<br>
<div class="search-button">
  <label for="gmap_keyword">Keyword</label>
  <input id="gmap_keyword" type="text" name="gmap_keyword" />
  <button id="keyword" class="button" >Search</button>
</div>

<p><a id="save_trip" href="#">Save Itinerary</a></p>
<p><a id="see_trip" href=itinerary>See Itinerary</a></p>
<form>


<div id='location'>
<input type="hidden" id="lat" name="lat" value="40.7143528" />
<input type="hidden" id="lng" name="lng" value="-74.0059731" />
</div>



<div id="map-canvas" style="visibility: hidden "></div>


<script type="text/javascript">
// document.querySelector(".activities").addEventListener('submit', function(event){
//   event.preventDefault()
//
//   document.querySelector("#map-canvas").style.visibility = ""
// })
   </script>
    <script type="text/javascript">
    // var itinerary = "/activities/puppy"
    // document.getElementById("itinerary").addEventListener("click", function(e){
    //   var this_id = document.getElementById("current_trip_id").innerHTML
    //   console.log('this id is' + this_id)
    //   $.ajax({
    //     type: 'POST',
    //     data: {id: this_id},
    //     dataType: 'json',
    //     url: "/trips"
    //   }).done(function(response){
    //     console.log("ajaxed", response)
    //   }).fail(function(){
    //     console.log("failed to save")
    //   })
    // })

    document.getElementById("save_trip").addEventListener("click", function(e){
        e.preventDefault
        var id = document.getElementById("current_trip_id").innerHTML
        document.getElementById("see_trip").href = ("/activities/" + id)
    })


    document.getElementById("create_trip").addEventListener("click", function(e){
      var user_name = document.getElementById("user_name").value
      var trip_name = document.getElementById("trip_name").value
    $.ajax({
      type: 'POST',
      data: {name: trip_name, user: user_name},
      dataType: 'json',
      url: "/activities"
    }).done(function(response){
      console.log("ajaxed", response)
      console.log(response._id)
      document.getElementById("current_trip_id").innerHTML = response._id
    }).fail(function(){
      console.log("failed to save")
    })
      document.getElementById("current_user").innerHTML = user_name
      document.getElementById("current_trip_name").innerHTML = trip_name
      document.getElementById("current_user").style.display = 'block'
      document.getElementById("current_trip_name").style.display = 'block'
  })



var map
var infowindow
var markers = []
var windows = []
var activity = document.querySelector("#activity")

function initialize() {
  geocoder = new google.maps.Geocoder()

  var pyrmont = new google.maps.LatLng(-33.8665433, 151.1956316);
  map = new google.maps.Map(document.getElementById('map-canvas'), {
    center: pyrmont,
    zoom: 14
  });


  var request = {
    location: pyrmont,
    radius: 500,
    types: activity
  };
  infowindow = new google.maps.InfoWindow();
  var service = new google.maps.places.PlacesService(map);
  service.nearbySearch(request, callback);
}

function callback(results, status) {
  if (status == google.maps.places.PlacesServiceStatus.OK) {
    for (var i = 0; i < results.length; i++) {
      createMarker(results[i]);
    }
  }
}

function clearMarkers(){
  if(markers){
    for (i in markers){
        markers[i].setMap(null)

    }
    markers = []
    windows = []
  }
}

function clearWindows() {
    if (windows) {
        for (i in windows) {
            if (windows[i].getMap()) {
                windows[i].close();
            }
        }
    }
}

function createMarker(place) {
  // var placeLoc = place.geometry.location;
  var marker = new google.maps.Marker({
    map: map,
    position: place.geometry.location,
    title: place.name,
    rating: place.rating
  });

  markers.push(marker);


var infowindow = new google.maps.InfoWindow({
	content: '<img src="' + place.icon + '" /><font style="color:#000;">' + place.name +
	'<br />Rating: ' + place.rating + '<br />Vicinity: ' + place.vicinity + '</font>' + "<div id='add'><a href=#>Add to my trip</a></div>"
	    })

  var activity_data = { place_name: place.name,
               rating: place.rating,
               icon: place.icon,
               address: place.vicinity,
               placeid: place.place_id }
  // , place.icon, place.rating, place.vicinity, place.place_id

      // google.maps.event.addListener(infowindow, 'domready', function() {
      //     document.getElementById("add").addEventListener("click", function(e) {
              // e.stop()
          // document.getElementById('place_name').value = place_name
          // {trip_id: ???, activity:
          // {activities: [{place_name: place_name}]},
      //     $.ajax({
      //       type: 'POST',
      //       data: {activities: [activity_data]},
      //       dataType: 'json',
      //       url: "/trips"
      //     }).done(function(response){
      //       console.log("ajaxed", response)
      //     }).fail(function(){
      //       console.log("failed to save")
      //     })
      //
      //
      //     })
      // })
  // var trip_data =
  google.maps.event.addListener(infowindow, 'domready', function() {
      var current_id = document.getElementById("current_trip_id").innerHTML
      document.getElementById("add").addEventListener("click", function(e) {
        $.ajax({
          type: 'PUT',
          data: {data: activity_data, id: current_id},
          dataType: 'json',
          url: "/activities"
        }).done(function(response){
          console.log("ajaxed", response)
        }).fail(function(){
          console.log("failed to save")
        })
      })
  })
  google.maps.event.addListener(marker, 'click', function() {
    // infowindow.setContent(place.name);
    clearWindows();
    infowindow.open(map, this)
  })
  windows.push(infowindow)
}

function findAddress(){
  var address = document.querySelector("#gmap_where").value
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      var addrLocation = results[0].geometry.location;
      map.setCenter(addrLocation);

      document.getElementById('lat').value = results[0].geometry.location.lat()
      document.getElementById('lng').value = results[0].geometry.location.lng()

      var addrMarker = new google.maps.Marker({
                position: addrLocation,
                map: map,
                title: results[0].formatted_address
    })
  }
})
}

function findPlaces() {

	    // prepare variables (filter)
	    // var type = document.getElementById('gmap_type').value;
	    // var radius = document.getElementById('gmap_radius').value;
	    var keyword = document.getElementById('gmap_keyword').value;

	    var lat = document.getElementById('lat').value;
	    var lng = document.getElementById('lng').value;
      var cur_location = new google.maps.LatLng(lat, lng);

	    // prepare request to Places
	    var request = {
          key: "AIzaSyBfu9hLoL5W9W3FnppbyA_80t_Jc0L9uWw",
	        location: cur_location,
	        radius: 5000,
	        keyword: [keyword]
	    };
    // if (keyword) {
    //     request.keyword = [keyword];
	  //   }

	    // send request
	    service = new google.maps.places.PlacesService(map);
	    service.search(request, createMarkers);
}
function createMarkers(results, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {

        // if we have found something - clear map (overlays)
        clearMarkers()

        // and create new markers by search result
      for (var i = 0; i < results.length; i++) {
          createMarker(results[i]);
        }
    } else if (status == google.maps.places.PlacesServiceStatus.ZERO_RESULTS) {
        alert('Sorry, nothing is found');
    }
}

var new_search = document.querySelector("#button2")
new_search.addEventListener('click', function(event){
  event.preventDefault()
     findAddress()
  document.querySelector("#map-canvas").style.visibility = ""
})

var keyword_search = document.getElementById('keyword')
keyword_search.addEventListener('click', function(event){
  event.preventDefault()
  findPlaces()
  document.getElementById('gmap_keyword').value = ""
})



google.maps.event.addDomListener(window, 'load', initialize);
    // var map;
    //
    // function initialize() {
    //   // Create a map centered in Pyrmont, Sydney (Australia).
    //   map = new google.maps.Map(document.getElementById('map-canvas'), {
    //     center: {lat: -33.8666, lng: 151.1958},
    //     zoom: 15
    //   });
    //
    //   // Search for Google's office in Australia.
    //   var request = {
    //     location: map.getCenter(),
    //     radius: '500',
    //     query: 'Google Sydney'
    //   };
    //
    //   var service = new google.maps.places.PlacesService(map);
    //   service.textSearch(request, callback);
    // }
    //
    // // Checks that the PlacesServiceStatus is OK, and adds a marker
    // // using the place ID and location from the PlacesService.
    // function callback(results, status) {
    //   if (status == google.maps.places.PlacesServiceStatus.OK) {
    //     var marker = new google.maps.Marker({
    //       map: map,
    //       place: {
    //         placeId: results[0].place_id,
    //         location: results[0].geometry.location
    //       }
    //     });
    //   }
    // }
    //
    // google.maps.event.addDomListener(window, 'load', initialize);
</script>
